Introduction to Regression/Advertising.csv
Multiple and Polynomial Regression/Advertising.csv
Multiple and Polynomial Regression/colinearity.csv
Multiple and Polynomial Regression/credit.csv
Multiple and Polynomial Regression/poly.csv
Multiple and Polynomial Regression/img